*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Epilogue;
  font-size: 18px;
  background-color: hsl(0deg, 0%, 98%);
}

ul {
  list-style: none;
}

picture, img {
  max-width: 100%;
}

button {
  display: block;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline-color: transparent;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em;
  color: hsl(0deg, 0%, 41%);
}
header .nav-items {
  background-color: hsl(0deg, 0%, 98%);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  padding: 1.3em;
}
header .nav-items li {
  margin-bottom: 1.5em;
}
header .nav-items li:hover {
  color: hsl(0deg, 0%, 8%);
}
header .nav-items span {
  user-select: none;
  margin-right: 0.5em;
  cursor: pointer;
}
header .nav-items .close-btn {
  text-align: right;
  margin-bottom: 1em;
}
header .nav-items .close-btn img {
  display: inline;
}
header .nav-items .dropdown-features, header .nav-items .dropdown-company {
  margin-top: 1.5em;
  margin-left: 1.5em;
}
header .nav-items .dropdown-features img, header .nav-items .dropdown-company img {
  margin-right: 0.5em;
}
header .nav-items .entry-point button {
  padding: 0.6em 1em;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}
header .nav-items .entry-point button:hover {
  color: hsl(0deg, 0%, 8%);
}
header .nav-items .entry-point button.primary {
  border: 1px solid;
  padding-inline: 4em;
  margin-top: 0.3em;
}
header .nav-items .entry-point button.primary:hover {
  border-color: hsl(0deg, 0%, 8%);
}

main {
  display: flex;
  flex-direction: column-reverse;
}
main section {
  padding: 0.3em;
  text-align: center;
}
main section p {
  line-height: 1.5;
  color: hsl(0deg, 0%, 41%);
}
main section .clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3em;
  padding: 1em;
  gap: 2rem;
}
main h1 {
  line-height: 1;
  margin-top: 1.3em;
  margin-bottom: 0.5em;
  font-size: 2.5rem;
}
main .cta {
  background-color: hsl(0deg, 0%, 8%);
  color: white;
  padding: 0.8em 1em;
  margin-top: 1em;
  border: 1px solid hsl(0deg, 0%, 8%);
  border-radius: 10px;
  margin-inline: auto;
}
main .cta:hover {
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 8%);
  cursor: pointer;
}

@media (min-width: 768px) {
  header {
    justify-content: left;
    align-items: center;
    padding: 1.3em;
  }
  header nav {
    width: 100%;
  }
  header ul, header .entry-point {
    display: flex;
    gap: 2rem;
  }
  header ul li, header .entry-point li {
    margin-bottom: 0 !important;
  }
  header ul .primary, header .entry-point .primary {
    margin-top: 0 !important;
    padding-inline: 1.5em !important;
  }
  header .nav-items {
    position: inherit;
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 2.3em;
    background-color: hsl(0deg, 0%, 98%);
  }
  header .nav-items .dropdown-features, header .nav-items .dropdown-company {
    position: absolute;
    display: grid;
    gap: 1em;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 999;
    background-color: white;
    margin-left: 0;
    padding: 1.3em;
  }
  header .nav-items .hidden {
    display: none;
  }
  header .nav-mobile-menu, header .close-btn {
    display: none;
  }
  header .entry-point {
    margin-left: auto;
  }
  main {
    flex-direction: row;
    gap: 5rem;
    padding-inline: 5em;
    align-items: flex-start;
  }
  main section {
    padding-inline: 2em;
    text-align: left;
  }
  main section span {
    display: block;
  }
  main section h1 {
    font-size: 4rem;
  }
  main section .cta {
    margin-inline: 0;
    margin-top: 1.3em;
  }
  main section .clients-list {
    justify-content: left;
    padding: 0;
  }
}
.hidden {
  display: none;
}

.overlay::before {
  content: "";
  display: block;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=index.css.map */
