@use './variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $ff-base;
    font-size: $fs-base;
}

ul {
    list-style: none;
}

picture, img {
    max-width: 100%;
}

button {
    display: block;
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline-color: transparent;
}