@use './variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $ff-base;
    color: $clr-txt;
}

img {
    display: block;
    max-width: 100%;
}

button {
    display: block;
    font: inherit;
    color: inherit;
    outline: none;
    border: none;
    padding: .5em 1em;
    background: none;
}

ul {
    list-style-type: none;
}