@use './variables' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em;
    color: $clr-txt;

    .nav-items {
        background-color: white;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        padding: 1.3em;

        li {
            margin-bottom: 1.5em;

            &:hover {
                color: $clr-primary;
            }
        }

        span {
            user-select: none;
            margin-right: .5em;
            cursor: pointer;
        }

        .close-btn {
            text-align: right;
            margin-bottom: 1em;

            img {
                display: inline;
            }
        }

        .dropdown-features, .dropdown-company {
            margin-top: 1.5em;
            margin-left: 1.5em;

            img {
                margin-right: .5em;
            }
        }

        .entry-point {

            button {
                padding: .6em 1em;
                width: 100%;
                border-radius: 15px;
                cursor: pointer;

                &:hover {
                    color: $clr-primary;
                }

                &.primary {
                    border: 1px solid;
                    padding-inline: 4em;
                    margin-top: .3em;
                }

                &.primary:hover {
                    border-color: $clr-primary;
                }
            }
        }
    }
}