@use './variables' as *;

header {
    display: flex;
    align-items: flex-start;
    padding: 1.2em;

    .nav-menu-icon {
        position: absolute;
        right: 1.5em;
    }

    .close-menu {
        text-align: right;
        margin-bottom: 1.5em;

        img {
            display: inline;
        }
    }

    .nav-container {
        position: fixed;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: $clr-bg;
        transition: all 500ms ease;
        padding: 1em;
        z-index: 999;

        .nav-menu > *:not(:last-of-type), .nav-menu {
            margin-bottom: 1.5em;
        }

        button {
            width: 100%;
            text-align: center;
        }
    }

    .primary {
        border: 1px solid $clr-primary;
        border-radius: 10px;
        color: $clr-primary;
        margin-top: .5em;
    }
}