@use './variables' as *;

header {
    display: flex;
    align-items: flex-start;
    padding: 1em 2em;

    .nav-menu-icon {
        position: absolute;
        right: 1.5em;
    }

    .close-menu {
        text-align: right;
        margin-bottom: 1.5em;

        img {
            display: inline;
        }
    }

    

    .primary {
        border: 1px solid $clr-primary;
        border-radius: 10px;
        margin-top: .5em;
    }
}