@use './variables' as *;

main {
    display: flex;
    flex-direction: column-reverse;

    section {
        padding: .3em;
        text-align: center;

        p {
            line-height: 1.5;
            color: $clr-txt;
        }

        .clients-list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 3em;
            padding: 1em;
            gap: 2rem;
        }
    }

    h1 {
        line-height: 1;
        margin-top: 1.3em;
        margin-bottom: .5em;
        font-size: 2.5rem;
    }

    .cta {
        background-color: $clr-primary;
        color: white;
        padding: .8em 1em;
        margin-top: 1em;
        border: 1px solid $clr-primary;
        border-radius: 10px;
        margin-inline: auto;

        &:hover {
            background-color: $clr-bg;
            color: $clr-primary;
            cursor: pointer;
        }
    }
}