@use './variables' as *;

@media (min-width: 426px) {
    header {
        display: flex;
        align-items: center;

        .logo {
            align-self: center;
            margin-right: 3em;
        }

        & nav {
            width: 100%;

            ul {
                gap: 2rem;
            }

            .nav-container, ul, .entry-point {
                display: flex;
                align-items: center;
            }

            .nav-menu-icon, .close-menu {
                display: none;
            }

            .entry-point {
                margin-left: auto;
                align-items: center;
                gap: 1rem;

                .primary {
                    margin: 0;
                }
            }
        }
    }

    main {
        flex-direction: row !important;
        text-align: left !important;
        align-items: flex-start;
        padding-block: 3em;

        span {
            display: block;
        }

        & section {

            .big-txt {
                font-size: 3rem;
            }

            .cta {
                margin-inline: 0;
            }
        }

        .hero-img {
            margin-block: 0 !important;
        }
    }

    main, footer {
        padding-inline: 8em !important;
    }
}

@media (max-width: 425px) {

    .nav-container {
        position: fixed;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: $clr-bg;
        transition: all 500ms ease;
        padding: 1em;
        z-index: 999;

        .nav-menu > *:not(:last-of-type), .nav-menu {
            margin-bottom: 1.5em;
        }

        button {
            width: 100%;
            text-align: center;
        }
    }
}